html,
body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
}

body {
    font-family: "Candara", sans-serif;
    color: white;
    background-color: #222;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

header.main {
    flex: 0 0 70px;
    height: 70px;
    border-bottom: 4px solid #444;
    background-color: black;
}

header.main::after {
    clear: both;
    content: "";
    display: table;
}

header.main .toolbar {
    height: 100%;
}

header.main .info {
    height: 17px;
}

header.main .info {
    float: left;
    padding-top: 4px;
    padding-left: 12px;
}

header.main .info .title {
    font-size: 22px;
}

header.main .info .last-update {
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
}

header.main .info .last-update .value {
    margin-left: 2px;
    font-size: 14px;
    color: #ccc;
    text-transform: none;
    margin-right: 10px;    
}

header.main .toolbar {
    float: right;
    padding: 10px;
}

header.main .toolbar::after {
    clear: both;
    content: "";
    display: table;
}

.action {
  cursor: pointer;
  border-top: 3px solid #333;
  height: 48px;
  vertical-align: 48px;
}

.action:hover {
    background-color: #1f1f1f;
}

.action.highlight {
    border-top-color: rgba(255, 255, 0, 0.7);
}

footer.status {
    flex: 0 0 34px;
    height: 34px;
    background-color: #333;
    border-top: 1px solid #444;
}

.main-layout {
    flex: 1;
    display: flex;
}

.main-layout .splitter {
    flex: 0 0 8px;
    width: 8px;
    background-color: #444;
    cursor: e-resize;
}

.main-layout .editors,
.main-layout .result {
    width: 50%;
}

.main-layout .result iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.main-layout .area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-layout .area .tabs {
  background-color: #111;
  border-bottom: 4px solid #333;
  box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

.main-layout .editors .tabs {
    position: relative;
    z-index: 2;
    flex: 0 0 44px;
}

#eRightTabs {
  position: absolute;
  left: 0;
  top: 0;

  height: 44px;
  width: 100%;
}

#eRightPages {
  margin-top: 44px;
}

#eRightArea {
  position: relative;
  height: 100%;
}

.main-layout .area .tabs::after {
    clear: both;
    content: "";
    display: table;
}

.main-layout .area .tabs:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 0;
    border-bottom: 1px solid #202020;
}

.main-layout .area .tabs .tab {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    min-width: 230px;
    height: 100%;
    cursor: pointer;
    text-align: left;
    padding: 13px 14px 10px;
    border-right: 2px solid #333;
}

.main-layout .area .tabs .tab:not(.tab-active):hover {
    background-color: #1a1a1a;
}

.main-layout .area .tabs .tab.tab-active {
    background-color: #333;
}

.main-layout .area .tabs .tab .filename {
    font-size: 14px;
    color: #bbb;
}

.main-layout .area .pages {
    position: relative;
    z-index: 1;
    flex: 1;
    overflow: auto;
}

.main-layout .area .pages .page {
  width: 100%;
  height: auto;
  display: none;
}

.main-layout .editors .pages .page {
    height: 100%;
}

.main-layout .area .pages .page.page-active {
    display: block;
}

.editor-files {
    display: none;
}

.editor {
    width: 100%;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

*::-webkit-scrollbar-thumb {
    background: #555;
    border: none;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #666;
}

*::-webkit-scrollbar-thumb:active {
    background: #666;
}

*::-webkit-scrollbar-track {
    background: #141414;
    border: 0px none #fff;
    border-radius: 0px;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

.hl_cc {color: #8a8;}
.hl_kv {color: #ca6;}
.hl_op {color: #ca6;}
.hl_num {color: #c64;}

#eCode, #eShaderCode {
  width: 100%;
  height: 100%;
  background-color: #141414;
  color: white;
  border: 0;
  resize: none;
  padding: 0;
  margin: 0;
  outline: none;
  font-size: 16px;
}

input[type=button] {
    outline: none;
}

.docs {
    width: 100%;
    padding-left: 10px;
    line-height: 125%;
    font-size: 16px;
    overflow-wrap: break-word;
}


.menu-bar {
  overflow: hidden;
  background-color: black;
  font-family: "Candara", sans-serif;
}

.menu-bar a, .menu-bar label {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 6px 12px;
  text-decoration: none;
  margin: 0;
}
.menu-bar a {
  border: 2px solid #333;
  border-radius: 3px;
}

.menu-bar input[type="text"] {
  float: left;
  font-size: 16px;
  color: white;
  background-color: #222;
  padding: 6px 12px;
  text-decoration: none;
}

.menu-bar a:hover {
  background-color: #25a;
}

.hidden {
  display: none;
}


.px24 {
  width: 24px;
  height: 24px;
}
.px24 div {
  border: 3px solid #fff;
}

.px32 {
  width: 32px;
  height: 32px;
}
.px32 div {
  border: 4px solid #fff;
}

.px64 {
  width: 64px;
  height: 64px;
}
.px64 div {
  border: 6px solid #fff;
}

